<script>
  document.querySelector('.bookmarked').addEventListener('click', openLibrary)
  document.querySelector('.close-library-container').addEventListener('click', openLibrary)
  
  function openLibrary() {
  let library = document.querySelector('.library-container');
  if (library.style.visibility !== "hidden") {
  library.style.visibility = "hidden"
  } else {
  library.style.visibility = "initial"
  }

  }

// add to Library
const bookmarked = document.querySelectorAll('.addToLib');

bookmarked.forEach(button => { button.addEventListener('click', ()=> {
    const movieID = button.getAttribute('value-ID');
    const movieName = button.getAttribute('value-Name');
    const bookmarkedArea = document.querySelector('.bookmarked-list');
    const addList = document.createElement('li');
    addList.innerHTML = `${movieID} || ${movieName} <button type="button" class="btn btn-outline-danger deleteButton">X</button>`
    bookmarkedArea.appendChild(addList);
})
})

// remove to Library
const bookmarkedArea = document.querySelector('.bookmarked-list');

bookmarkedArea.addEventListener('click', function(e){
  if(e.target && e.target.classList.contains('deleteButton')){
    const listItem=e.target.closest('li');
    if(listItem){
      listItem.remove();
    }
  }
})

</script>