<script>
    // turn reserved seats to blue and vice versa
    const seat = document.querySelectorAll('.seat');

    seat.forEach(div => { div.addEventListener('click', ()=> {
        const seatID = div.getAttribute('id');

        if (document.getElementById(seatID).style.backgroundColor !== "blue"){
            document.getElementById(seatID).style.backgroundColor = "blue";
        console.log(seatID);
        } else {
            document.getElementById(seatID).style.backgroundColor = "transparent";
        }
        
        })
    })

    //count reserved and not reserved seats
    let reservedSeatCount = 0;
    let availableSeatCount = 0;

    seat.forEach(div => {
        if(div.style.backgroundColor === 'blue' || window.getComputedStyle(div).backgroundColor === 'blue'){
            reservedSeatCount++;
        } else {
            availableSeatCount++;
        }
    })

    const countArea = document.querySelector('.summary');
    const countsDisplay = document.createElement('p');
    countsDisplay.innerHTML = `Reserved Seats Count: ${reservedSeatCount} ; Available Seats Count: ${availableSeatCount}`;

    countArea.appendChild(countsDisplay);

    function updateCounts(){
        const newCountsDisplay = document.createElement('p');
        const oldCountsDisplay = countArea.firstChild;
        newCountsDisplay.innerHTML = `Reserved Seats Count: ${reservedSeatCount} ; Available Seats Count: ${availableSeatCount}`;

    countArea.replaceChild(newCountsDisplay, oldCountsDisplay);
    }

    // reserve seat confirmation
    document.querySelector('.reserveConfirm').addEventListener('click', openLibrary)
  document.querySelector('.close-library-container').addEventListener('click', openLibrary)
  
  function openLibrary() {
  let library = document.querySelector('.library-container');
  if (library.style.visibility !== "hidden") {
  library.style.visibility = "hidden"
  } else {
  library.style.visibility = "initial"
  }

  }

// add to Library
const reserved = document.querySelectorAll('.seat');

reserved.forEach(div => { div.addEventListener('click', ()=> {
    const seatID = div.getAttribute('id');
    const bookmarkedArea = document.querySelector('.bookmarked-list');
    const addList = document.createElement('li');
    addList.innerHTML = `${seatID} <button type="button" class="btn btn-outline-danger deleteButton">X</button>`
    bookmarkedArea.appendChild(addList);
})
})

// remove to Library
const bookmarkedArea = document.querySelector('.bookmarked-list');

bookmarkedArea.addEventListener('click', function(e){
  if(e.target && e.target.classList.contains('deleteButton')){
    const listItem=e.target.closest('li');
    if(listItem){
      listItem.remove();
    }
  }
})

// confirm reserve
const confirmReserveButton = document.querySelector('.confirmReserve');
confirmReserveButton.addEventListener('click', () => {
    if (confirm("Proceed to Payment?") == true){
        alert('Reservation Successful');
        openLibrary();
        while (bookmarkedArea.firstChild) {
            bookmarkedArea.removeChild(bookmarkedArea.firstChild)
        };
    } else {
        alert('Reservation Unsuccessful');
    }
})

</script>