<%- include("./partials/head.ejs")-%>

<!-- Start -->

<div class="signup-container">
    <div class="wrapper">
        <div class="form-box signup">
            <h2>Register</h2>
            <form action="/signup" method="post" class="signform">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="name" autocomplete="off" required>
                    <label>Name</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" autocomplete="off" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="confirmPassword" required>
                    <label>Confirm Password</label>
                </div>
                <!-- <div class="remember-forgot"><label><input type="checkbox">Remember me</label> <a href="#">Forgot Password?</a> </div> -->
                <button type="submit" class="submit-btn">Sign up</button>
                <!-- <div class="login-register"> -->
                    <p class="sign-login">Have an account? <a href="/" class="register-link">Login</a></p>
                </div>
            </form>
            
        </div>
    
        
    </div>
    </div>

<!-- End -->

<!-- <%- include ("./partials/loginJavaScript.ejs") -%> -->
<%- include("./partials/footer.ejs") -%>