@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.login-container{
    width: 100vw;
    height: 100vh;
    background-image: url('/static/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    width: 100vw;
    height: 100vh;
    background-image: url('/static/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba (0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.signform {
    width: 400px;
    
}

.sign-login {
    text-align: center;
    margin-top: 8px;
}

.reg-form {
    color: #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


/* =========================== dashboard page ============================== */
.dash-container {
    color:#162938;
    background-color: rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    position: fixed;
    right:0px;
    @media only screen and (max-width:56.25em) {
    width:100vw;
    margin-top: 5vh;
    }
}

.user-header{
    display: flex;
    flex-direction: row;
    width: 95vw;
}

.greetings{
    background-color: rgb(154, 191, 247);
    border:2px solid rgb(54, 130, 245);
    border-radius:20px;
    padding: 10px;
    margin: 2vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
}

.bookmarked{
    background-color: rgb(154, 191, 247);
    border:2px solid rgb(54, 130, 245);
    border-radius:20px;
    margin: 2vh 5vw;
    padding: 10px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    position:fixed;
    right: 0px;
}

.cards-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.comingSoon-banner {
    width: 85vw;
    color: #162938;
    margin: 2vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 191, 247);
    border: 2px solid rgb(54, 130, 245);
    border-radius: 20px;
}

.library-container {
    width: 95%;
    height: 100%;
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(133, 134, 136, 0.6);
    z-index: 100;
    visibility: hidden;
    @media only screen and (max-width:56.25em) {
        width:100%;
        margin-top: 5vh;
    }
}

.bookmarked-container {
    background-color: rgb(250, 252, 253);
    border-radius: 20px;
    width: 30vw;
    height: 80vh;
    display: flex;
    position: relative;
    z-index: 200;
    flex-direction: column;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.close-library-container {
    display: flex;
    justify-content: flex-end;

}

/* =================== movie information page ===================== */

.movie-container {
    background-color:rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    position: fixed;
    overflow-y: scroll;
    flex-wrap: wrap;
    right:0px;
    @media only screen and (max-width:56.25em) {
        width:100vw;
        margin-top: 5vh;
    }
}


/* =================== reserve seat page ===================== */

.reserve-container {
    background-color: rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: scroll;
    flex-wrap: wrap;
    position: fixed;
    right:0px;
    @media only screen and (max-width:56.25em) {
        width:100vw;
        margin-top: 5vh;
    }
}


.timeslot-container{
    display: flex;
    justify-content: space-around;
    row-gap: 5px;
    flex-wrap: wrap;
}


.cinema-container {
    background-color: rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    right:0px;
        @media only screen and (max-width:56.25em) {
        width:100vw;
        height:97vh;
    }
}

#screen{
    border: 2px solid rgb(54, 130, 245);
    border-radius: 10px;
    width:50vw;
    height:10vh;
    text-align: center;
    position:relative;
    align-self: center;
    color: rgb(54, 130, 245);
}

.screen-seat-part{
    width: 100%;
    height:1vh;
}

.seat-container {
    display: flex;
    flex-direction: row;
    width:60vw;
    position: relative;
    align-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}

.seat-column1, .seat-column2 {
    display: flex;
    flex-direction: row;
}

.seat {
    border: 2px solid rgb(54, 130, 245);
    border-radius: 5px;
    color: rgb(54, 130, 245);
    width:3vw;
    height: 5vh;
    text-align: center;
}

.seat:hover {
    background-color: blue;
    cursor: pointer;
}

#seat-input {
    color: rgb(54, 130, 245);
}


/* ---------------------dashboard----------------------------- */
.mobile-navbar {
    visibility: hidden;
    @media only screen and (max-width:56.25em) {
        visibility:initial;
    }
}

.desktop-navbar {
    background-image: linear-gradient(rgba(153, 215, 240, 0.993), rgb(17, 173, 235));
    margin:0;
    padding:0;
    width: 5vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    position:fixed;
    top:0px;
    left:0px;
    @media only screen and (max-width:56.25em) {
        display: none;
    }
}